.serviceImage {
  height: 100%;
  width: 100%;
}

.living_room {
  /* height: 500px; */
  /* width: 100%; */
  box-shadow: rgba(21, 21, 22, 0.641) 0px 7px 39px 0px;
}

.NateBerkus {
  font-family: cursive;
}
