/* @media (min-width: 767px) { */
  .Hero {
    background-image: url("/hero-four.png");
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .overlay{
    height: 650px;
  }
/* } */

@media (min-width: 768px) and (max-width: 991.98px) {
    .Hero{
        height: 500px;
    }
    .overlay{
        height: 500px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .Hero{
        height: 600px;
    }
    .overlay{
        height: 602px;
    }

}

@media (min-width: 1200px) {
    .overlay{
        height: 650px;
    }
}

