.Logo{
    height: auto;
    width: 40%;
    object-fit: cover;
    
}

.Logo2{
    height: 65px;
    width: 75%;
    object-fit: cover;
}

.dropdown-content{
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

@media (min-width: 992px){
    .Logo{
        /* background-color: yellow; */
        height: auto;
        width: 15%;
        object-fit: cover;
    }

    .dropdown-image{
        height: 300px;
        width: 40%;
        object-fit: cover;
    }
}