.footer-logo{
    height: 90px;
    width: 80%;
    object-fit: cover;
}


@media (min-width: 992px){
    .footer-logo{
        /* background-color: yellow; */
        height: 100px;
        width: 24%;
        object-fit: cover;
    }


}